<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <%- include ('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-center align-items-center">
        <section>
            <h1 class="display-1">about</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore architecto quibusdam natus porro voluptatem accusamus quia mollitia neque eum. Nesciunt fuga ut maxime nam, nisi praesentium ab in modi temporibus rerum iusto sequi cumque, consectetur odio porro enim a neque odit? Vero nesciunt, in, quas est amet sed recusandae nulla inventore mollitia repellendus distinctio laboriosam consectetur adipisci, error sit incidunt tenetur esse? Quasi quod ut nisi quam doloremque delectus quisquam blanditiis placeat. Sapiente fugit accusamus voluptates, dolor adipisci, similique atque consequatur, reprehenderit deserunt odio aperiam nisi officia quasi delectus maiores veritatis non aliquam quo earum corporis magni doloremque animi rem? Error mollitia assumenda eligendi ipsum quisquam animi odit dolore id possimus expedita maxime quas in ullam, ea sint laudantium nemo, voluptas reiciendis. Dolores quae, ullam cupiditate ex obcaecati ut minima nemo cum quod eum expedita reiciendis aut facilis. Quidem ducimus laudantium sint autem deserunt, aspernatur consectetur expedita vel molestias fugiat, reiciendis ipsa at veritatis voluptates numquam nemo. Corrupti iusto nostrum beatae recusandae delectus ipsum totam sed soluta corporis autem fugiat vitae esse labore error aliquid, voluptatibus illum amet aliquam incidunt! Eaque quos consequuntur fugiat dolores iure error dolore, expedita qui doloremque magnam, exercitationem omnis blanditiis veritatis similique ullam et quo.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>