<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>home</title>
    <%- include ('partials/head')%>
</head>
<body>
    <%- include('partials/navigation') %>

    <header class="container vh-100 d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
            <img src="/img/LOGO.png" alt="" class="w-25 mb-3">
            <a href="/about" class="btn btn-primary display-1 mb-3 w-25">about</a>
            <!-- Nuevo botón debajo del logo -->
            
        </div>
    </header>
    
    <%- include('partials/footer') %>
</body>
</html>
