<footer class="bg-dark text-center p-4">
    <h1>footer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eum corrupti perferendis fugit, nemo quod id quis, repellat quo hic impedit, magnam repellendus natus beatae dolores placeat! Necessitatibus, assumenda sequi.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>